@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

.typewriter-text {
  border-right: solid 3px rgba(0, 25, 0, 0.75);
  white-space: nowrap;
  overflow: hidden;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  color: #fff;
  animation: animated-text 4s steps(29, end) 1s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 191, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
